<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>注册页面</title>
</head>
<body>
    <form action="/user/register_handle" method="post">
        {% csrf_token %}
        <ul>
            <li>
                <label>用户名</label>
                <input type="text" name="username" id="username">
                <span class="error_tip">提示信息</span>
            </li>
            <li>
                <label>密码</label>
                <input type="password" name="pwd" id="pwd">
                <span class="error_tip">提示信息</span>
            </li>
            <li>
                <label>确认密码</label>
                <input type="password" name="cpwd" id="cpwd">
                <span class="error_tip">提示信息</span>
            </li>
            <li>
                <label>邮箱</label>
                <input type="text" name="email" id="email">
                <span class="error_tip">提示信息</span>
            </li>
            <li>
                <input type="checkbox" name="allow" id="allow">
                <label>同意用户协议</label>
                <span class="error_tip2" >提示信息</span>
            </li>
        </ul>
        <input type="submit" value="注册">
    </form>
</body>
</html>